


/*标点*/
.is-focus .el-select__caret.el-input__icon.el-icon-arrow-up.is-reverse{
  transform: rotate(180deg);
}
.el-zoom-in-top-leave-active,.el-zoom-in-top-enter{
  -ms-transform: scaleY(0);
}
.el-zoom-in-top-enter-active,.el-zoom-in-top-enter{
  -ms-transform: scaleY(1);
}
.el-message{
  transform: translateX(-50%);
  transition: opacity .3s,top .4s,-webkit-transform .4s;
  -ms-transform: translateX(-50%);
  -ms-transition: opacity .3s,top .4s,-webkit-transform .4s;
}
.el-submenu.is-opened>.el-submenu__title .el-submenu__icon-arrow{
  transform: rotate(180deg);
}



/*导航菜单样式*/
.menu_box .el-menu{
  background-color: #f2f2f2;
}
.menu_box .el-menu-item.is-active{
  background-color: #e6e6e6;
}
.menu_box .el-menu-item:focus, .menu_box .el-menu-item:hover, .menu_box .el-submenu__title:hover{
  background-color: #e6e6e6;
}

/* 分页 */
.page{
  position: absolute;
  bottom: 0px;
  right: 10px;
}

/*表格*/
.el-table .cell{
  text-align: center;
}
.el-table td, .el-table th{
  padding: 5px 0;
}
.page_scrollbar{
  height:100%;
}
.el-scrollbar__wrap{
  overflow-x:hidden;
}

/*滚动条*/
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar, ::-webkit-scrollbar-track-piece{
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(144,146,152,.3);
}
::-webkit-scrollbar, ::-webkit-scrollbar-track-piece {
    background-color: transparent;
}